<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QiNiuTestDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C149F8F01EC9917D00C8B7C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C149F9091EC9917E00C8B7C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C149F9141EC9917E00C8B7C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
